.logo-container {
  display: flex;
  height: 64px;
  background-color: #000000;
  justify-content: center;
  margin-top: 4px;
}

.nav-item-list {
  /* padding: 8px 0px; */
  padding: 0px 0px;
}

.nav-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  padding: 8px 8px;
  margin: 8px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-item-container:hover {
  background-color: #4b4e50;
}

.nav-item-container.selected {
  background-color: #323436;
}

.nav-item-logo-container {
  display: flex;
  align-items: center;
  min-width: 56px;
  max-width: 56px;
}

.nav-item-text-container {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  min-width: 91px;
  max-width: 91px;
}

.nav-item-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}